.container {
    max-width: var(--container-max-width);
    margin: auto;
    margin-top: 30px;
    padding: 0 15px;
}

.title {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-size: 1.75em;
    font-weight: 600;
    text-align: center;
}

.logo {
    width: 100px;
}

.card_intro_wrapper {
    align-items: stretch;
}

.card_intro {
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &_body {
        text-align: center;
    }

    &_logo {
        width: 150px;
        height: 150px;
        margin-bottom: 1em;
        border-radius: 100%;
        background: rgba(255, 255, 255, 0.4);
        display: inline-flex;
        justify-content: center;
        align-items: center;

        img {
            width: 65%;
        }
    }

    &_title {
        margin-bottom: 0.5em;
        font-size: 1.25em;
    }

    &_desc {
        display: block;
        margin-bottom: 1em;
        text-align: center;
    }

    &_button {
        display: block;
        margin-top: auto;
    }
}

.wrapper {
    margin: 0 -7.5px;
}

.top {
    margin-bottom: 30px;
}
