@import '~rsuite/styles/index.less';
@import 'react-toastify/dist/ReactToastify.css';
@import './variables.less';
@import '../utils/quill/imageUploader/quill.imageUploader.css';

a {
    text-decoration: none;
    &:hover,
    &:active {
        text-decoration: none;
    }
}

h1,
h2,
h3 {
    color: #1e5c9b;
}

h4,
h5,
h6 {
    color: #4380bd;
}

.ql-editor {
    word-break: break-word;

    img {
        width: 100%;
    }

    iframe {
        width: 100%;
        height: calc((100vw - 100px) / 16 * 9);
        max-height: calc(1050px / 16 * 9);
    }
}
