@import '~rsuite/styles/index.less';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import 'react-toastify/dist/ReactToastify.css';
@import './variables.less';
@import '../utils/quill/imageUploader/quill.imageUploader.css';

* {
    font-family: 'Manrope', sans-serif;
}

body {
    &::before {
        background: linear-gradient(
            168deg,
            #fafafa 20%,
            rgba(69, 104, 220, 0.5),
            rgba(176, 106, 179, 0.3)
        );
        content: '';
        display: block;
        filter: blur(6rem);
        height: 100vh;
        position: fixed;
        width: 100%;
        z-index: -1;
    }
}

a {
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

.ql-editor {
    word-break: break-word;

    img {
        width: 100%;
        max-width: 500px;
        display: block;
        margin: auto;
    }

    iframe {
        width: 100%;
        height: calc((100vw - 100px) / 16 * 9);
        max-height: calc(1050px / 16 * 9);
    }
}

.rs-btn {
    font-weight: 600;
}

.rs-btn-primary {
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    background-image: linear-gradient(
        to right,
        #4776e6 0%,
        #8e54e9 51%,
        #4776e6 100%
    );
    box-shadow: none;
}

.rs-btn-primary:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.rs-steps-item-title{
    font-weight: 800;
}

.rs-steps-item-description{
    font-size: 16px;
}